@import url("../asset/font.css");

table{
    border-collapse: collapse;
}

*{
    margin: 0px;
    height: 100%;
    width: 100%;
}

div.body{
    background: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/potw2140a.jpg");
    background-size: cover;
}

div.header{
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 40px;
    line-height: 72px;
    height: 72px;
    font-family: "Lucida Family";
    background-color: #000;
}

div.header td{
    text-align: center;
    width: 25%;
}

div.header a{
    display: block;
    color: #fff;
    text-decoration: none;
}

div.header a:hover{
    background: #fff;
    color: #000;
}


div.content{
    z-index: 0;
    position: relative;
    top: 222px;
    left: 120px;
    height: calc(100% - 222px);
    width: calc(100% - 120px);
}

div.content div.intro{
    font-family: "Trebuchet MS";
    color: #fff;
}

div.intro h1{
    font-size: 50px;
    height: 1.5em;
    font-weight: 600;
}

div.intro p{
    white-space: pre;
    font-size: 25px;
    height: 3em;
}

div.intro div{
    position: relative;
    top: 50px;
    border: 2px #fff solid;
    border-radius: 5px;
    width: 175px;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-size: 30px;
}

div.intro span{
    font-size: 60px;
    line-height: 1.5em;
    height: 1.5em;
    font-weight: 400;
}

div.intro a{
    color: #fff;
    text-decoration: none;
}

div.intro img{
    position: absolute;
    top: -145px;
    left: 350px;
    height: 250px;
    width: 250px;
}

div.intro a>div:hover{
    background: #fff;
    color: #000;
}