@import url("banner.css");

* {
    color: #d6cbfd;
    font-family: "XiaolaiSC";
}

.body {
    background-color: #000;
    height: auto;
    padding: 82px 10px 0px 10px;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 50px;
}

p {
    white-space: pre;
    margin: 15px;
    font-size: 36px;
}